/*Fonts imported on main.html. Refer with following:
font-family: 'Open Sans', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
*/


/***********************
    SCSS Variables
***********************/
$accent: #1ABC9C;
$cloud: #E2E5E9;
$white: #EDEFF1;
$chrome: #778899;
$grey: #3C4956;
$darkgrey: #313D4A;
$charcoal: #465464;



/**********************
      Main Styling
**********************/
html{
  height: 100%; //so the page is height spans browser

  body {
    height: inherit;

    #__blaze-root{
      height: inherit;
    }
  }
}

h1, h2, h3{
  font: {
    family: 'Fira Sans Extra Condensed', sans-serif;
    weight: bold;
  }
}

h1{
  font-size: 5em;
}

p {
  font: {
    family: "Open Sans";
  };
  color: $charcoal;
}

a { //the basic link has no underline EVER
  color: $charcoal;
  text-decoration: none!important;
}



/***********************
      Header Styles
************************/
#header {
  background-color: $cloud;
  width: 100%; //increases to span top of page
  display: inline-block; //spans the page

  a {
    text-transform: uppercase;
    text-decoration: none;
  }
  
  ul{
    list-style-type: none; //removes bullets
    margin: 0;
    //overflow: hidden; not hiding overflow lets the login pull down
  }

  li {
    float: right;
    height: 50px; //Sets a fixed height (this makes it so that different font sizes don't affect the size of navbar

    a {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 0 14px;
    line-height: 50px;
    white-space: nowrap;
      &:hover{
        background-color: $accent;
        color: $white;
      }
    }

    /************************
          Login Popup
    ************************/

    #login-buttons{
      line-height: inherit;

      .login-close-text{ //changes the close button
        padding: 0px;
        float: right;
        padding-bottom: 0px;
        line-height: normal;
        text-transform: none;
        font-size: .7em;
        font-family: 'Open Sans', sans-serif;
 
        &:hover{
          background-color: white;
          color: $accent;
        }
      }

      .login-button{
        //sign in or create account big button
        background: $chrome;
        &:hover{
          background: $accent;
        }
      }

      .accounts-dialog{ //moves box so it doesn't float off the screen
        top: 120%;
        left: -100%;
      }

      .additional-link-container{ //contains signup and forgot password
        display: inline; //allows to be on the same line
      }

      #signup-link{ //signup button 
        float: left;
      }

      #forgot-password-link{ //forgot password button
        float: right;
      }

      .additional-link{ //style type of both sign up and forgot password
        text-transform: none;
        line-height: normal;
        text-transform: none;
        float: none;
        padding: 0;
        margin: 10px 0;

        &:hover{
          background-color: white;
          color: $accent;
        }
      }
    }
  }
  
  //Responsive Navbar STILL BUGGY
  @media screen and (max-width: 600px){
    ul li {float: none;}
  }
};



/**********************
      Home Styles
**********************/
#homebgd{ //home background
  background-image: url('/imgs/conputah.jpg');
  background-position: center;
  background-size: cover;
  height: inherit;
}

.home{
  a.button{
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    background: none;
    margin: 10px;
    width: 180px;
    padding: 8px 0;
    border-style: solid;
    border-color: $charcoal;
    border-width: 2px;
    border-radius: 5px;

    &:hover, &:focus{
      color: $accent;
      border-color: $accent;
      text-decoration: none;
    }
  }

  width: 100%;
  padding-top: 15%;
  text-align: center;

  //responsive location
  @media screen and (max-width: 800px){
    padding-top: 25%;
  }
}


/***********************
      About style
***********************/
.about{
  text-align: center;
  padding: 10% 25px 15px;
}

.about-box{
  margin: auto;
  width: 595px;
  background-color: $white;
  padding: 8px 0;
  border-radius: 5px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}