/*Fonts imported on main.html. Refer with following:
font-family: 'Open Sans', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
*/


/***********************
    SCSS Variables
***********************/
  $accent: #1ABC9C;
  $accents: #49C9B0;
  $accented: #16a085;
  $cloud: #E2E5E9;
  $white: #EDEFF1;
  $chrome: #778899;
  $grey: #3C4956;
  $darkgrey: #313D4A;
  $charcoal: #465464;
  $blacc: #283038;

  $shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);



/**********************
/   DEFAULT STYLING   /
**********************/
  html{
    height: 100%; //so the page is height spans browser

    body {
      height: inherit;

      #__blaze-root{
        height: inherit;
      }
    }
  }

  h1, h2{
    font: {
      family: 'Fira Sans Extra Condensed', sans-serif;
      weight: bold;
    }
  }

  h1{
    font-size: 5.6em;
    color: $white;
    margin-bottom: 5px;
  }

  h3, h4, h5, h6{
    font: {
      family: 'Open Sans', sans-serif;
      weight: 300;
    }
  }

  p {
    font: {
      family: "Open Sans";
    };
    color: $charcoal;

    .sub{
      font-size: 2em;
    }
  }

  a { //the basic link has no underline EVER
    font: {
      family: 'Open Sans', sans-serif;
    }
    color: $charcoal;
    text-decoration: none!important;
  }

  .padded{
    display: inline-block;
    padding: 15px 35px;
  }

  .err{
    width: 100%;
    padding-top: 14%;
    text-align: center;
    vertical-align: middle;
  }

  .banana{
    width: 160px;
    margin-bottom: 20px;
  }

  .btn-blue{
    background-color: $accent;
    color: $cloud;
    border: none;

    &:hover{background-color: $accents; color: $white;}
    &:focus, &:active{background-color: $accented!important; color: $white!important;}
  }

  .btn-grey{
    background-color: $chrome;
    color: $cloud;
    border: none;

    &:hover{
      background-color: $charcoal;
      color: $cloud;
    }
  }



/***********************
      Header Styles
***********************/
  #header {
    background-color: $cloud;
    width: 100%; //increases to span top of page
    display: inline-block; //spans the page
    box-shadow: $shadow;

    ul{
      list-style-type: none; //removes bullets
      margin: 0;
      //overflow: hidden; not hiding overflow lets the login pull down
    }

    li {
      float: right;
      height: 50px; //Sets a fixed height (this makes it so that different font sizes don't affect the size of navbar

      a {
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      padding: 0 14px;
      line-height: 50px;
      white-space: nowrap;
        &:hover{
          background-color: $accent;
          color: $white;
        }
        &:focus{
          background-color: $accented;
          color: $white;
        }
      }

      /************************
            Login Popup
      ************************/
        #login-buttons{
          line-height: inherit;
          font-family: 'Open Sans', sans-serif;

          .login-link-text{//login button
            &:active{
              background-color: $accented;
              color: $white;
            }
          }

          .login-close-text{ //changes the close button
            color: $charcoal;
            padding: 0px;
            float: right;
            padding-bottom: 0px;
            line-height: normal;
            text-transform: none;
            font-size: .7em;
            font-family: 'Open Sans', sans-serif;

            &:hover{
              background-color: white;
              color: $accent;
            }
          }

          .login-button{
            //sign in or create account big button
            border: none;
            background: $chrome;
            &:hover{
              background: $accent;
            }
          }

          .accounts-dialog{ //moves box so it doesn't float off the screen
            top: 120%;
            left: -85px;
          }

          .additional-link-container{ //contains signup and forgot password
            display: inline; //allows to be on the same line
          }

          #signup-link{ //signup button
            float: left;
          }

          #forgot-password-link{ //forgot password button
            float: right;
          }

          .additional-link{ //style type of both sign up and forgot password
            text-transform: none;
            line-height: normal;
            text-transform: none;
            float: none;
            padding: 0;
            margin: 10px 0;

            &:hover{
              background-color: white;
              color: $accent;
            }
          }
        }
    }

    //Responsive Navbar {fixed}
    @media screen and (max-width: 600px){
      ul { padding: 0; }
      ul li {
        width: 100%;
        display: block;
      }
      a {width: 100%;}
      #login-buttons{
        width: 100%;
        .accounts-dialog{left: 25%!important;}
      }
    }
  };



/***********************
      Home Styles
***********************/
  #homebgd{ //home background
    background-image: url('/imgs/coded.jpg');
    background-position: center;
    background-size: cover;
    height: inherit;
  }

  .home-wrapper{
    p{font-size: 1.7em; color: $cloud}

    a.button{
      display: inline-block;
      font-size: 1.5em;
      text-transform: uppercase;
      background: $cloud;
      margin: 10px;
      width: 180px;
      padding: 8px 0;
      border-radius: 5px;

      &:hover{
        color: $cloud;
        background: $accent;
      }
      &:focus{
        color: $cloud;
        background: $accented;
      }
    }

  //wrapper part
  max-width: 650px;
  margin: 11% auto auto auto;
  padding: 65px 30px;
  text-align: center;
  border-radius: 5px;

    //responsive location
    @media screen and (max-width: 800px){
      margin: 25% auto auto auto;
      h1{
        font-size: 3em;
      }
      p.sub{
        font-size: 1.5em;
      }
      a.button{
        font-size: 1.3em;
      }
    }
  }



/***********************
   Profile Page Styles
***********************/
  #profilebgd{
    background-size: cover;
    background-color: white;
    height: inherit;
  }

  .profile-wrapper{
    margin: 7% 22% 0;

    .col-md-4{width: 275px;}

    .prof-main{
      margin-bottom: 25px;

      .prof-pic{
        width: 150px;
        height: 150px;
        background: $cloud;
        border-radius: 50%;
      }

      .prof-subtitle{
        font-style: italic;
        color: $chrome;
      }
    }

    h3{font-weight: bold; font-size: 1.4em;}
  }



/***********************
      About Styles
***********************/
  .about{
    text-align: center;
    padding: 10% 25px 15px;
  }

  .about-wrapper{
    margin: auto;
    width: 595px;
    background-color: $white;
    padding: 8px 25px;
    border-radius: 5px;
    box-shadow: $shadow;
  }



/***********************
/      GEN SIDEBAR     /
***********************/
  nav.sidebar{
    float: left;
    margin-bottom: 0;
    display: block;
    box-sizing: border-box;

    ul{
      width: 100%;
      margin: 0;
    }

    li {
      width: 100%;
    }
  }



/***********************
     Project Styles
***********************/
  #projbgd{//project background
    height: inherit;
    background-color: white;
  }

  //*******PROJECTS SIDEBAR********//
  //Credit: http://bootsnipp.com/snippets/featured/side-menu-on-hover//
    #projectSidebar{
      background: $white;
      width: 235px;
      height: calc(100vh - 55px);

      //Disappears when screen too small
      @media (max-width: 600px){
        display: none;
      }

      li{border-bottom: 5px white solid;}

      a{
        padding-right: 18px;

        &:hover{
          background: $chrome;
          color: $white;
        }

        &.active{
          background: $accent;
          color: $white;
        }

        .name{
          font-size: 1.15em;
          margin-bottom: 8px;
        }
      }
    }

  //*******PROJECTS HEADER*********//
    .projecthead{
      margin-left: 235px;

      .padded{//pads the content not in the sidebar
        width: calc(100vw - 235px);

        .col-md-4{//column on the right side
          padding: 0 2% 0 0;
          height: 62.89px;
        }
      }

      //floats the stuff on the right
      .floater{
        float: right;
        max-width: 300px;
        width: 100%;
      }

      //Search Box//
      //Credit: http://codepen.io/ace-subido/pen/Echvr
      .search-box{
        //max-width: 400px;
        width: calc(100% - 70px);
        display: inline-block;
        background: $white;
        color: $charcoal;
        border-radius: 5px;
        position: relative;
        margin: 28px 8px 0 0;

        .form-control{
          background-color: inherit;
        }

        input[type=text]{
          color: $charcoal;
          font-family: 'Open Sans';
          border: none;
          box-shadow: none;
          display: inline-block;
        }

        .search-btn{
          position: absolute;
          right: 0px;
          top: 0px;
          color: $charcoal;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          font-size: 18px;
          padding: 4px 7px 3px;

          &:hover{
            color: $white;
            background-color: $chrome;
          }
        }
      }

      //New Button//
      button.newff{
        font-family: 'Open Sans';
        background-color: $accent;
        color: $white;
        border-radius: 5px;
        border: none;
        margin-top: -3.5px;
        height: 33.78px;

        &:hover{
          background-color: $accents;
        }

        &:focus{
          background-color: $accented;
        }
      }

      //Modal//
      .modal{
        position: relative;
        right: 0;
        width: inherit;

        .modal-content .modal-dialog{
          margin: 0;
          width: inherit;

          .modal-header{
            padding: 5px 5px 0 0;
            border: none;
          }

          .modal-body{
            padding: 0 10px 10px;

            .btn-default{
              border-radius: 0;
              border: none;
              width: 100%;
              text-align: left;
              padding: 5px;
              font-family: 'Open Sans';
              font-size: 1.1em;
              color: $chrome;

              .glyphicon{
                color: $chrome;
              }

              &:hover{
                background: none;
                color: $accents;
                .glyphicon{color: $accents}
              }

              &:focus{
                background: none;
                color: $accented;
                .glyphicon{color: $accented}
              }
            }

            .dividing{
              border-bottom: 1px solid $cloud;
            }

            input#files{
              display: none;
            }

            input#zip{
              display: none;
            }
          }
        }
      }

      //Responsive Header Bit
      @media screen and (max-width: 600px){
          margin: 0;
          .padded{width:100vw}
          .floater{
            float:left;
            width: 100%;
            .search-box{margin:0;}
          }
      }
    }

  //******PROJECTS MAIN LIST*******//
    #ProjectList{
      .subrow{
        background: $white;
        color: $chrome;

        &:hover{
          background: $cloud;
        }
      }

      a.path{
        color: $chrome;
        &:hover{color: $accent;}
      }

      .docsrow{
        padding: 5px 0;
        border-bottom: 1px solid $cloud;

        &:hover{
          background-color: $white;
        }
      }

      .col-md-6{
        padding: 5px 10px;
        height: 2em;
      }

      button.close{
        padding-right: 12px;
      }

      .glyphdocs{
        font-size: 1.2em;
        margin-right: 10px;
      }

      #pathBack{
        margin-right: 15px;

        &:hover, &:focus{color: $accented;}
      }

      #path{
        color: $charcoal;
        text-transform: capitalize;
      }
    }



/***********************
  Editor Header Styles
***********************/
  #editHead{
    width: 100%; //increases to span top of page
    display: inline-block; //spans the page
    background: $charcoal;

    ul{
      list-style-type: none; //removes bullets
      margin: 0;
    }

    li {
      float: right;
      height: 50px; //Sets a fixed height (this makes it so that different font sizes don't affect the size of navbar

      .glyphicon{
        color: $accent;
      }

      a {
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      padding: 0 14px;
      line-height: 50px;
      white-space: nowrap;
      }

      .backGlyph{
          &:hover{
            background-color: $accent;
            color: $white;
            .glyphicon{color:$white;}
          }
          &:focus{
            background-color: $accented;
          }
        }

      .title{
        color: $white;
        font-size: 1em;
      }
    }

    .shareBtn{
      height: 2.3em;
      margin: 9px 10px 0 0;
      padding: 0 25px;
      text-transform: uppercase;
      color: $white;
    }

    .newBtn{
      background: $darkgrey;
      color: $cloud;
      text-transform: uppercase;
      height: 2.3em;
      margin: 9px 10px 0 0;
      padding: 0 20px;
      border-radius: 5px;

      &:hover{
        color: $cloud;
        background: $grey;
      }
    }

    .editLeft{
      float: left;
    }

    .editRight{
      float: right;
    }
  }

  #saveMsg{
    margin: 15px;
    color: $chrome;
    display: none;
  }

  //shareURL modal
  #shareURL{
    width: 500px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

    .modal-content .modal-dialog{
      padding: 15px;
      width: inherit;
      margin: 0;

      p{color: $chrome;}

      .modal-header{
        padding: 0;
        border: none;
      }

      .modal-body{
        padding: 0 10px 10px;

        .form-control{
          border: none!important;
          box-shadow: none!important;
        }

        .URL{
          padding: 5px 10px;
          font-style: italic;
          background-color: $cloud;
          border-radius: 5px;
        }
      }

      .modal-footer{
        padding-bottom: 0;
      }
    }
  }


  //export modal
  #exportFile{
    width: 500px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

    .modal-content .modal-dialog{
      padding: 15px;
      width: inherit;
      margin: 0;

      p{color: $chrome;}

      .modal-header{
        padding: 0;
        border: none;
      }

      .modal-body{
        padding: 0 10px 10px;

        .form-control{
          border: none!important;
          box-shadow: none!important;
        }

        .URL{
          padding: 5px 10px;
          font-style: italic;
          background-color: $cloud;
          border-radius: 5px;
        }
      }

      .modal-footer{
        padding-bottom: 0;
      }
    }
  }


/**********************
    Editor Sidebar
**********************/
  #sidebar-wrapper{
    margin: -5px 0;
  }

  #mini-editSidebar{
    position: fixed;
    z-index: 999;
    width: 62px;
    background: $blacc;
    height: calc(100vh - 50px);

    li{
      a{
        height: inherit;
        text-align: center;
        padding: 15px 10px;

        &:hover{
          background: $darkgrey!important;
          label.back-circle{color: $darkgrey; background-color: $chrome;}
        }

        &:focus{background: none;}

        .octicon{font-size: 1.3em;}
      }
    }

    .activemini{
      background: $grey!important;

      label.back-circle{color: $grey; background-color: $chrome;}
    }

    label.back-circle{
      background-color: $grey;
      color: $blacc;

      //make it a circle
      height: 42px;
      width: 42px;
      border-radius: 50%;

      line-height: 42px; //centers
      font-size: 1.2em;
      margin: 0;

      cursor: pointer;
    }
  }

  .pullout{
    position: fixed;
    left: 62px;
    z-index: 99;
    margin-left: -265px;
    width: 265px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    background: $grey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled{
      margin-left: 0px;
    }

    h3{
      padding-bottom: 10px;
      border-bottom: 1px solid $chrome;
      color: $cloud;
    }

    //Users Wrapper Add by Email Form
    .email-box{
      width: 100%;
      display: inline-block;
      background-color: $darkgrey;
      color: $chrome;
      border-radius: 5px;
      position: relative;
      margin-bottom: 10px;

      &:focus {
        background-color: $blacc;
        color: $chrome;
      }

      .form-control{
        background-color: inherit;
        color: $chrome;
      }

      input[type=text]{
        color: $cloud;
        font-family: 'Open Sans';
        border: none;
        box-shadow: none;
        display: inline-block;

        &::-webkit-input-placeholder{
          color: $chrome;
        }
      }

      .add-btn{
        position: absolute;
        right: 0px;
        top: 0px;
        color: $chrome;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 18px;
        padding: 4px 7px 3px;

        &:hover{
          color: $white;
          background-color: $accent;
        }
      }
    }

    .wrapper-content{
      padding: 10px 20px;

      h4{color: $cloud; margin-bottom: 7px;}
      p{color: $cloud;}
      p.settings-descript{color: $chrome;}

      .setting-section{
        margin-bottom: 15px;

        .form-control{
          height: 30px;
          background-color: $darkgrey;
          color: $chrome;
          border: none;
          border-radius: 5px;

          &:focus{
            box-shadow: none;
          }
        }
      }

      .btn-blue{float: right;}
    }

    //Slider code, thanks W3Schools
    .switch {
      position: relative;
      display: inline-block;
      width: 42px;
      height: 26px;
      margin: 0 5px 0 0;

      input{display: none;} //hides dafault html checkbox
    }
    .slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before{
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: $cloud;
        -webkit-transition: .4s;
        transition: .4s;
      }

      &.round {
        border-radius: 34px;

        &:before{border-radius: 50%;}
      }
    }
    input:checked + .slider{
      background-color: $accent;
    }
    input:focus + .slider{ box-shadow: 0 0 1px $accent; }
    input:checked + .slider:before{ transform: translateX(16px); }
  }



/**********************
 Editor Console Styles
**********************/
  $miniheight: 20px;
  $consoleheight: 220px;

  #output {
      height: $consoleheight;
      background-color: $charcoal;
      border-color: $charcoal;
      color: $cloud;
      line-height: 1.2;
      font-size: inherit;
  }

  #console-wrapper{
    position: fixed;
    bottom: 0;
    margin-bottom: -$consoleheight;
    width: 100%;
    height: $miniheight + $consoleheight;
    z-index: 999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled{
      margin-bottom: 0px;
    }
  }

  #mini-bottombar{
    background-color: $accented;
    height: $miniheight;
    width: 100vw;
    //display: inline-block;

    ul{
      padding: 0 10px;
      list-style-type: none; //removes the bullets
      margin:0;
    }

    li{
      float: left; //without this float, they will not populate on the same line
      height: $miniheight;

      a{
        color: $cloud;
        text-align: center;
        padding: 0 10px;
        white-space: nowrap;

        &:hover{
          background-color: $accent;
        }
      }
    }
  }

  #console-bottombar{
    background: $darkgrey;
    height: $consoleheight;
    width: 100%;
  }



/**********************
    Editor Styles
**********************/
  #editBgd{
    background-color: $blacc;
    height: inherit;

    //used for the moving sidebar
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    a{color: $white;}

    //TABS FOR EDITOR STYLED HERE//
    ul.nav-tabs{
      height: 38px;
      border: none;
    }

    .file-tabs{
      background-color: $darkgrey;
      border: none;
      border-left: 2px solid $accent;
      color: $cloud;
      margin: 7px 0 0 7px; //creates top+left margin
      padding: 0 45px; //spacing around text
      height: 30px;

      //centers text on tab
      line-height: 30px;
      text-align: center;
    }

    li.active{
      //make the blue thing later here
      font-style: italic;
    }
  }

  #page-content-wrapper{
    height: calc(100vh - 80px);
    display: block;
    padding-left: 62px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled{
      padding-left: 327px;
    }

    .row{margin: 0; height: inherit;}
  }

  #loadingSpin{
    display: block;
    border-radius: 5px;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 40%;
    background-color: $cloud;
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 1.2em;
  }

  .CodeMirror{height: calc(100vh - 87px);}



/**********************
    NEW FILE MODAL
**********************/
  .newModal{
    width: 500px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

    .modal-content .modal-dialog{
      padding: 15px;
      width: inherit;
      margin: 0;

      p{color: $chrome;}

      .modal-header{
        padding: 0;
        border: none;
      }

      .modal-body{
        padding: 0 10px 10px;

        .form-control{border: 1px solid $chrome;}

        .fileName{
          padding: 5px 10px;
          font-style: italic;
          border-radius: 5px;
        }
      }

      .modal-footer{padding-bottom: 0;}
    }
  }
