//Fonts Import


/***********************
    SCSS Variables
***********************/
$white: #D5DEE6;
$cloud: #BCC4CB;

/**********************
      Main Styling
**********************/
p {
  font: {
    family: "Comic Sans MS";
    weight: bold;
  };
  color: $cloud;
}

body {
  background-color: yellow;
}
