<template name="newFileModal">
    <!--NORMAL NEW FILE MODAL-->
    <div id="newFile" class="modal fade newModal" role="dialog">
        <div class="modal-content">
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3 style="margin-top: 0;">Name of New File </h3><p><i> (must name with file extension) </i></p>
                    <input class="form-control fileName" id="fileName" value="helloworld.py" required>
                </div>
                <div class="modal-footer">
                    <button id="createNewFile" type="button" class="btn btn-default btn-blue" data-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-default btn-grey" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--NORMAL NEW FOLDER MODAL-->
    <div id="newFolder" class="modal fade newModal" role="dialog">
        <div class="modal-content">
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3 style="margin-top: 0;">Name of New Folder </h3><p><i></i></p>
                    <input class="form-control fileName" id="folderName" value="new folder" required>
                </div>
                <div class="modal-footer">
                    <button id="createNewFolder" type="button" class="btn btn-default btn-blue" data-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-default btn-grey" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--GIT CLONE MODAL-->
    <div id="gitClone" class="modal fade newModal" role="dialog">
        <div class="modal-content">
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3 style="margin-top: 0;">URL of Git Repository </h3><p><i>clone with HTTPS</i></p>
                    <input class="form-control fileName" id="repoURL" placeholder="https://github.com/user/repo.git" required>
                </div>
                <div class="modal-footer">
                    <button id="cloneGitRepo" type="button" class="btn btn-default btn-blue" data-dismiss="modal">Clone</button>
                    <button type="button" class="btn btn-default btn-grey" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Fake triggers for error modals-->
    <button id="errorBtn" class="btn newBtn" style="display: none;" data-toggle="modal" data-target="#errorModal"></button>

    <!-- ERROR MODAL -->
    <div id="errorModal" class="modal fade newModal" role="dialog">
        <div class="modal-content">
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3 style="margin-top: 0;">Error</h3>
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-grey" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
