<template name="ProjectList">
    <div id="ProjectList">

    <div class="row">
        <a href="#" id="pathBack"><i class="glyphicon glyphicon-chevron-up"></i> Back a Folder</a>
        {{#each path}}
            <span id="path">{{this}}</span>
        {{/each}}
    </div>

    <div class="row subrow">
        <div class="col-md-6">
            Name
        </div>
        <div class="col-md-6">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                Owner
            </div>
            <div class="col-md-4" style="text-align: right;">
                Delete
            </div>
        </div>
    </div>
    {{#each folders}}
        <div class="row docsrow">
            <div class="col-md-6">
                <i class="glyphicon glyphdocs glyphicon-folder-open"></i>
                <a id="folder" href="#">{{this}}</a>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <!--write helper to make this not weird date-->
                    <p></p>
                </div>
                <div class="col-md-4">
                    <p></p>
                </div>
            </div>
        </div>
    {{/each}}
    {{#each docs}}
        <div class="row docsrow">
            <div class="col-md-6">
                <i class="glyphicon glyphdocs glyphicon-file"></i>
                <a href="/{{this._id}}">{{this.name}}</a>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <!--write helper to make this not weird date-->
                    <p>{{this.date}}</p>
                </div>
                <div class="col-md-4">
                    <p>me</p>
                </div>
                <div class="col-md-4">
                    <button class="close" type="button" id="remove" name="removeBtn">&times;</button>
                </div>
            </div>
        </div>
    {{/each}}
    {{#if inHome}}
    {{#each collabDocs}}
        <div class="row docsrow">
            <div class="col-md-6">
                <i class="glyphicon glyphdocs glyphicon-file"></i>
                <a href="/{{this._id}}">{{this.name}}</a>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <!--write helper to make this not weird date-->
                    <p>{{this.date}}</p>
                </div>
                <div class="col-md-4">
                    <p>{{this.owner}}</p>
                </div>
                <div class="col-md-4">
                    <button class="close" type="button" id="remove" name="removeBtn">&times;</button>
                </div>
            </div>
        </div>
    {{/each}}
    {{/if}}
    </div>
</template>
