<template name="ProjectList">
    <div id="ProjectList">

    <div class="row subrow">
        <div class="col-md-6">
            Name
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                Upload Date
            </div>
            <div class="col-md-4">
                Shared By
            </div>
            <div class="col-md-4" style="text-align: right;">
                Delete
            </div>
        </div>
    </div>


    {{#each folders}}
        <div class="row docsrow">
            <div class="col-md-6">
                <a id="folder"><strong>{{this.name}}</strong></a>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <!--write helper to make this not weird date-->
                    <p>{{this.date}}</p>
                </div>
                <div class="col-md-4">
                    <p>{{this.user}}</p>
                </div>
                <div class="col-md-4">
                    <button class="close" type="button" id="remove" name="removeBtn">&times;</button>
                </div>
            </div>
        </div>
    {{/each}}
    {{#each docs}}
        <div class="row docsrow">
            <div class="col-md-6">
                <a href="/{{this._id}}">{{this.name}}</a>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <!--write helper to make this not weird date-->
                    <p>{{this.date}}</p>
                </div>
                <div class="col-md-4">
                    <p>{{this.user}}</p>
                </div>
                <div class="col-md-4">
                    <button class="close" type="button" id="remove" name="removeBtn">&times;</button>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</template>
